{% block top_menu %}
    <!-- tepa tomon menyu -->
    <nav class="navbar navbar-expand-xl " id="top">

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <img src="logo/logo2.png" id="forlogo" />
            <div class="navbar-nav ml-auto dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="images/image15.jpg" alt="user-img" width="40" class="rounded-circle"> <span class="text-white">Привет Shoxrux</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">настройка аккаунт</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">выход</a>
                </div>
            </div>
        </div>

    </nav>
{% endblock %}